* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid red;
}

/* Pantalla de inicio */

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.btn-start {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: yellow;
  color: black;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

#screen {
  width: 1100px;
  height: 700px;
  background: url("../img/dealbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Pantalla de Player */

.column{
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  width: 350px;
}

.column-box{
  flex-wrap: wrap;
  align-content: space-around;
  width: 600px;
  height: 500px;
  background: url("../img/The-cult-of-deal-or-no-deal-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}

#chosen-box {
  width: 110px;
  padding: 5px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: grey;
  display: none;
}

 .price {
  background: yellow;
  width: 140px;
  margin: 10px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  padding: 5px 0;
  font-size: 18px;
}

.price.selected {
  background: grey;
}


.briefcase-btn{
  width: 80px;
  height: 40px;
  background-color: grey;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}

#banker-offer{
  width: 600px;
  height: 500px;
  background: url("../img/dond_thebanker.jpg");
  background-size: cover;
  font-family: sans-serif;
  font-size: 40px;
  color:white;
  display: none;
}


.deal-btn,
.no-deal-btn,
.play-again-btn,
.switch-boxes-btn,
.open-box-btn {
  display: none;
}

h1 {
  display:block;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 60px auto;
  padding: 5px;
  background-color: black;
  border: 4px solid yellow;
}

#information {
  display:block;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 5px;
  background-color: black;
  border: 4px solid yellow;
  display: none;
}

/* p {
  color: white;
  font-size: 20px;
  background-color: black;
} */

.information {
  background-color: black;
}

.box {
  border-radius: 4px;
  background-color: grey;
  padding: 20px;
  border: 2px solid black;
  margin: 5px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.box p {
  background: white;
  border-radius: 50%;
  padding: 10px;
  z-index: 99;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}