* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Pantalla general y de inicio*/

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#screen {
  width: 1100px;
  height: 700px;
  background: url("../img/dealbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  display:block;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 60px auto;
  padding: 5px;
  background-color: black;
  border: 4px solid yellow;
}

/* Botones */

#deal-btn,
#no-deal-btn,
#play-again-btn,
#switch-boxes-btn,
#open-box-btn {
  display: none;
}

.btn-yellow {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: yellow;
  color: black;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.btn-yellow:hover{
  background-color: white;
}
.btn-black:hover{
  background-color:red;
}

.btn-black {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: black;
  color: yellow;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid grey;
  border-radius: 5px;
  cursor: pointer;
}


/*Posicionamento de elementos*/

.column{
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  width: 350px;
}

.column-box{
  flex-wrap: wrap;
  align-content: space-around;
  width: 600px;
  height: 500px;
  background: url("../img/The-cult-of-deal-or-no-deal-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between
}

/* Panel de premios */

.price {
  background: yellow;
  width: 140px;
  margin: 10px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  padding: 5px 0;
  font-size: 18px;
}

.price.selected {
  background: grey;
}


/* Panel de briefcases */

#chosen-box {
  width: 110px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: grey;
  display: none;
}

.box {
  border-radius: 4px;
  background-color: grey;
  padding: 20px;
  border: 2px solid black;
  margin: 5px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.box p {
  background: white;
  border-radius: 50%;
  padding: 10px;
  z-index: 99;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.box:hover{
  animation: mover 0.5s infinite  alternate;
  background-color: yellow;
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
/* Paneles de información */

#banker-offer{
  width: 600px;
  height: 500px;
  background: url("../img/dond_thebanker.jpg");
  background-size: cover;
  font-size: 40px;
  color:white;
  display: none;
}

#information {
  display:block;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 5px;
  background-color: black;
  border: 4px solid yellow;
  display: none;
}